[submodule "opensbi"]
	path = repo/opensbi
	url = git@github.com:SigRISCV/opensbi.git
[submodule "repo/qemu"]
	path = repo/qemu
	url = git@github.com:SigRISCV/qemu.git
[submodule "repo/llvm-project"]
	path = repo/llvm-project
	url = git@github.com:SigRISCV/llvm-project.git
	branch = SigRISCV
[submodule "repo/freebsd"]
	path = repo/freebsd
	url = git@github.com:SigRISCV/freebsd-src.git
[submodule "benchmark/lmbench"]
	path = benchmark/lmbench
	url = git@github.com:SigRISCV/lmbench.git
[submodule "benchmark/unixbench"]
	path = benchmark/unixbench
	url = git@github.com:SigRISCV/unixbench.git
[submodule "repo/gdb"]
	path = repo/gdb
	url = git@github.com:SigRISCV/gdb.git
[submodule "repo/cross/gmp"]
	path = repo/cross/gmp
	url = https://github.com/gmp-mirror/gmp.git
[submodule "repo/cross/mpfr"]
	path = repo/cross/mpfr
	url = https://gitlab.inria.fr/mpfr/mpfr.git
[submodule "benchmark/simple-sigriscv-test"]
	path = benchmark/simple-sigriscv-test
	url = git@github.com:SigRISCV/sigriscv-test.git
[submodule "benchmark/juliet-test-suite-c"]
	path = benchmark/juliet-test-suite-c
	url = git@github.com:SigRISCV/juliet-test-suite-c.git
